body{  
    background-image: url(images/gif_institucional_bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20;
    background-color: #000000;
}

h1{
    text-align: center;
    color: #ffe54f;
    font-size: 50px;      
}

h2{
    margin-top: 0px;

}

h3{
    text-align: center;
    color: #ffffff;   
}

.titulo-tabela {
    background-color: #130400;
    color:#cfa185
}

.cardapio {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #fffef8;
    border: 2px solid #130400;
    border-radius: 10px;
    text-align: center;
}

#carrinho {
    max-width: 150px;
    margin: auto;
    padding: 20px;
    position: fixed;
    justify-content: flex-end;
    right: 0;
    background-color: #fffef8;
    border: 2px solid #130400;
    border-radius: 10px;
}

#enviar{    
    background: url('images/botao-enviar.png') no-repeat center center;
    width : 140px ;
    height : 40px ;
    background-size : contain;
    background-position : center center;
    background-repeat : no-repeat;
    border : none;
    cursor : pointer;
    margin-top: 10px;
    padding: 0;
    overflow: visible;
}

#enviar:hover {
    background-color: #fffef8;
    transform: scale(1.1);
}

#limpar{    
    background: url('images/botao-limpar.png') no-repeat center center;
    width : 140px ;
    height : 40px ;
    background-size : contain;
    background-position : center center;
    background-repeat : no-repeat;
    border : none;
    cursor : pointer;
    padding: 0;
    overflow: visible;
}

#limpar:hover {
    background-color: #fffef8;
    transform: scale(1.1);
}

.saiba-mais {
   width : 140px ;
   height : 40px ;
   background-size : contain;
   background-position : center center;
   background: url('images/botao-saiba-mais.png') no-repeat center center; 
   background-repeat : no-repeat;
   border : none;
   cursor : pointer;
   padding: 0;
   overflow: visible;
}

 .comprar {
   width : 140px ;
   height : 40px ;
   background-size : contain;
   background-position : center center;
   background-repeat : no-repeat;
   background: url('images/botao-comprar.png') no-repeat center center;
   border : none;
   cursor : pointer;
   padding: 0;
   overflow: visible;
}

 .calcular {
   width : 140px ;
   height : 40px ;
   background-size : contain;
   background-position : center center;
   background-repeat : no-repeat;
   background: url('images/calcular100x40.png') no-repeat center center;
   border : none;
   cursor : pointer;
   padding: 0;
   overflow: visible;
}

#calculadora {
    background-color: #fffef8;
    padding: 0px; 
    margin-top: 1px;               
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 1.1;
    text-align: center;
}

#calculadora .resultado {
  text-align: left; 
  margin-left: 40px;
  margin-top: 0;
}

#calculadora strong {
    color: #130400;                 
    font-weight: bold;
}

.saiba-mais:hover {
    background-color: #fffef8;
    transform: scale(1.1);
}

.comprar:hover {
    background-color: #fffef8;
    transform: scale(1.1);
}

.calcular:hover {
    background-color: #fffef8;
    transform: scale(1.1);
}

.direitos{
    text-align: center;
    font-size: 14px;
    color: #cfa185;
}

input[type=number] {
    width: 60px;
    padding: 3px;
    margin-top: 5px;   
}